root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = tab
tab_width = 4


[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_members_in_object_initializers = false
csharp_prefer_braces = false:suggestion
csharp_preferred_modifier_order = public, protected, private, internal, file, static, override, async, virtual, sealed, abstract, readonly, extern, unsafe, volatile, new, required:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_for_built_in_types = false:none
dotnet_diagnostic.IDE0055.severity = silent
dotnet_diagnostic.IDE1006.severity = warning
dotnet_naming_rule.private_fields_should_be_camel_case.severity = warning
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case_underscore_style
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields_symbols
dotnet_naming_rule.private_const_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.private_const_fields_should_be_pascal_case.style = upper_camel_case_style
dotnet_naming_rule.private_const_fields_should_be_pascal_case.symbols = private_const_fields_symbols
dotnet_naming_rule.private_static_readonly_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.private_static_readonly_fields_should_be_pascal_case.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_fields_should_be_pascal_case.symbols = private_static_readonly_fields_symbols
dotnet_naming_rule.public_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.public_members_should_be_pascal_case.style = upper_camel_case_style
dotnet_naming_rule.public_members_should_be_pascal_case.symbols = public_members_symbols
dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.style = upper_camel_case_style
dotnet_naming_rule.types_should_be_pascal_case.symbols = types_symbols
dotnet_naming_rule.type_parameters_rule.import_to_resharper = True
dotnet_naming_rule.type_parameters_rule.resharper_description = Type parameters
dotnet_naming_rule.type_parameters_rule.resharper_guid = 2c62818f-621b-4425-adc9-78611099bfcb
dotnet_naming_rule.type_parameters_rule.severity = warning
dotnet_naming_rule.type_parameters_rule.style = upper_camel_case_style
dotnet_naming_rule.type_parameters_rule.symbols = type_parameters_symbols
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.private_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_const_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_const_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_const_fields_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_fields_symbols.required_modifiers = static, readonly
dotnet_naming_symbols.public_members_symbols.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.public_members_symbols.applicable_kinds = property, method, event
dotnet_naming_symbols.types_symbols.applicable_accessibilities = *
dotnet_naming_symbols.types_symbols.applicable_kinds = class, struct, interface, enum, delegate
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters_symbols.resharper_applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters_symbols.resharper_required_modifiers = any
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

[.editorconfig]
indent_style = space
indent_size = 4

[{*.androidproj,*.ccproj,*.csproj}]
indent_style = space
indent_size = 4

[*.{blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cu,cuh,cxx,cxxm,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,mpp,mq4,mq5,mqh,mxx,shaderFoundry,tcc,tpp,urtshader,usf,ush}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,cs,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,paml,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[addons/**/*.cs]
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.IDE1006.severity = none
